<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="blogs content">
    <h2>Github User's Info</h2>

    <!-- Add code here to fetch user's data -->

  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>