<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="blogs content">
    <h2>Github User's Info</h2>

    <!-- Add code here to fetch user's data -->
    <h3 class= "Title"><% user.name %<</h3>
    <p class="snippet"> User's ID on Github: <% user.login %>  </p>
    <p class="snippet"> User's number of public repos on Github: <% user.public_repos %> </p>
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>